<?xml version="1.0"?>
<config>
  <modules>
    <Thecoderin_VatLayer>
      <version>1.0.0</version>
    </Thecoderin_VatLayer>
  </modules>
  <global>
    <helpers>
      <vatlayer>
        <class>Thecoderin_VatLayer_Helper</class>
      </vatlayer>
    </helpers>
    <models>
      <vatlayer>
        <class>Thecoderin_VatLayer_Model</class>
      </vatlayer>
    </models>
  </global>
  <frontend>
    <routers>
      <thecoderin_vatlayer>
        <use>standard</use>
        <args>
          <module>Thecoderin_VatLayer</module>
          <frontName>vatlayer</frontName>
        </args>
      </thecoderin_vatlayer>
    </routers>
    <layout>
      <updates>
        <vatlayer>
          <file>vatlayer.xml</file>
        </vatlayer>
      </updates>
    </layout>
  </frontend>
</config> 